.products__container{
    display: flex;
    flex-wrap: wrap;
}

.product__card{
    margin: 20px;
    box-shadow: 0px 0px 7px black;
    border-radius: 20px;
    text-align: center;
}

.product__card img{

    width: 250px;
    height: 250px;
    object-fit: cover;
    
}